#navbar {
  height: 148px;
  width: 100%;
  /* border: 1px solid rebeccapurple; */
  background-color: black;
  font-family: " BBText Bold" Helvetica, Arial, sans-serif;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#heading {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 15px;
  padding-right: 32px;
  padding-left: 32px;
  /* border: 1px solid blue; */
}
#heading,
h6 {
  font-size: 11px;
  font-family: "BBText Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  gap: 2px;
  letter-spacing: 2px;
}

#name,
img {
  height: 38px;
  width: 340px;
  /* border: 1px solid red; */
  margin-left: 170px;
  margin-top: 0px;
  padding-top: 0%;
}
#login_div {
  /* border: 1px solid turquoise; */
  height: 15px;
  justify-content: space-around;
  margin-left: 370px;
  color: white;
}
.join {
  color: white;
  text-decoration: none;
}
.location_icon {
  margin-left: 15px;
  font-size: 23px;
}
#products {
  height: 33px;
  width: 98%;
  /* border: 1px solid yellowgreen; */
  margin-top: 35px;
  display: flex;
}

#products input {
  width: 150px;
  background-color: black;
  border: none;
  text-underline-position: below;
  font-weight: bold;
  border-bottom: 1px solid white;
}
#product_names {
  margin-left: 70px;
  margin-top: 10px;
}
.products_heading {
  padding-right: 40px;
  /* padding-top: 15px; */
  font-size: 14px;
  /* font-weight: bold; */
  letter-spacing: 2px;
  /* border: 1px solid turquoise; */
  height: 7px;
}
.products_heading span a{
  color: white;
}
.products_heading:hover {
  text-decoration: underline;
  color: white;
}
#email_signup.hover_div {
  height: 400px;
  width: 300px;
  /* border: 1px solid gold; */
  /* display: none; */
  position: absolute;
}

/* nav end */

#window_container {
  display: flex;
  gap: 25px;
  padding-left: 150px;
  font-family: "BBSans Regular", Helvetica, Arial, sans-serif;
  margin-top: 20px;
}
#container {
  height: 1000px;
  width: 50%;
  margin-right: 3%;
  /* border: 1px solid red; */
}
#top_image {
  height: 80px;
  width: 92%;
  margin: 20px;
  /* border: 1px solid rebeccapurple; */
  /* justify-content: center; */
}
#second_img {
  width: 150px;
  height: 30px;
}
#third_img {
  height: 80px;
  width: 80px;
  /* border: 1px solid red; */
  text-align: left;
}
#shopping_bag_heading {
  font-family: "BBSans Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  width: 40%;
  letter-spacing: 2px;
  margin-left: 30px;
  font-size: 25px;
}
.hr {
  border: 1px solid black;
  margin: 0%;
  padding: 0%;
}
#enjoy_shipping {
  height: 50px;
  width: 97%;
  background-color: rgb(239, 240, 240);
  margin-top: 0%;
  padding-left: 15px;
  padding-top: 10px;
}
#checkout_option {
  display: flex;
  gap: 25px;
  height: 45px;
  width: 97%;
  margin-top: 40px;
  /* border: 1px solid yellowgreen; */
}
#checkout_option h6 {
  font-size: 15px;
  padding: 0%;
  margin: 0%;
  font-weight: normal;
  text-decoration: underline;
  letter-spacing: 2px;
}
#checkout_option button {
  background-color: black;
  color: white;
  height: 35px;
  width: 105px;
  border: none;
}
#show_proucts_div {
  display: flex;
  /* gap: 50px; */
  /* border: 1px solid red; */
  padding: 0% 0%;
  padding-right: 150px;
}
#item_details_heading {
  display: flex;
  gap: 80px;
  padding-left: 180px;
}
/* .category{
    gap: 35px;
    border: 1px solid purple;
    margin-right: 130px;
} */
#product_img img {
  height: 50px;
  width: 50px;
  /* justify-content: left; */
  /* border: 1px solid black; */
}
#product_name h1 {
  font-size: 15px;
  /* border: 1px solid red; */
  height: 50px;
  width: 300px;
  font-weight: normal;
}

#product_price h1 {
  font-size: 15px;
  /* border: 1px solid green; */
  height: 50px;
  width: 100px;
  font-weight: normal;
}
.remove-button{
  margin: 13px 0;
}
#sub_total {
  display: flex;
  justify-content: space-between;
  padding: 0% 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#service_charge {
  display: flex;
  justify-content: space-between;
  padding: 0% 50px;
}
#estimated {
  display: flex;
  justify-content: space-between;
  padding: 0% 50px;
  margin-top: 10px;
}
#img1_div {
  height: 180px;
  width: 180px;
  border: 1px solid black;
}
#right_main_div {
  height: 800px;
  width: 35%;
  /* border: 1px solid rebeccapurple; */
  background-color: rgb(239, 240, 240);
  padding: 15px 15px;
}
#heading h4 {
  font-size: 30px;
  font-family: "BBSans Regular", Helvetica, Arial, sans-serif;
}
#offer_code {
  height: 35px;
  width: 85%;
}
#view_offer {
  color: black;
}
#span_div {
  display: flex;
  justify-content: space-around;
}
#span_div button {
  margin-top: 25px;
  color: rgb(159, 163, 200);
  border: none;
  font-size: 12px;
}
.btn {
  height: 35px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
}
#select {
  height: 35px;
  margin-top: 15px;
  width: 85%;
}
