* {
  margin: 0%;
  padding: 0%;
}
#navbar {
  height: 148px;
  width: 100%;
  /* border: 1px solid rebeccapurple; */
  background-color: black;
  font-family: " BBText Bold" Helvetica, Arial, sans-serif;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#heading {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 15px;
  padding-right: 32px;
  padding-left: 32px;
  /* border: 1px solid red; */
}
#heading,
h6 {
  font-size: 11px;
  font-family: "BBText Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  gap: 2px;
  letter-spacing: 2px;
}

#name,
img {
  height: 38px;
  width: 340px;
  /* border: 1px solid red; */
  margin-left: 170px;
  margin-top: 0px;
  padding-top: 0%;
}
#login_div {
  /* border: 1px solid turquoise; */
  height: 15px;
  justify-content: space-around;
  margin-left: 370px;
  color: white;
}
.join {
  color: white;
  text-decoration: none;
}
.location_icon {
  margin-left: 15px;
  font-size: 23px;
}
#products {
  height: 33px;
  width: 98%;
  /* border: 1px solid yellowgreen; */
  margin-top: 35px;
  display: flex;
}
#products input {
  color: white;
  width: 150px;
  background-color: black;
  border: none;
  text-underline-position: below;
  font-weight: bold;
  border-bottom: 1px solid white;
}
#product_names {
  margin-left: 70px;
  margin-top: 10px;
  /* border: 1px solid red; */
}
.products_heading {
  padding-right: 40px;
  /* padding-top: 15px; */
  font-size: 14px;
  /* font-weight: bold; */
  letter-spacing: 2px;
  /* border: 1px solid turquoise; */
  height: 7px;
}
.products_heading span a{
  color: white;
}
.products_heading:hover {
  text-decoration: underline;
  color: white;
}
#email_signup.hover_div {
  height: 400px;
  width: 300px;
  /* border: 1px solid gold; */
  /* display: none; */
  position: absolute;
}
.carousel-inner img {
  height: 470px;
  width: 90%;
  /* border: 1px solid red; */
  margin-left: 0%;
}
#haveit {
  justify-content: center;
}
#haveit_heading h1 {
  font-size: 50px;
  /* border: 1px solid blue; */
  text-align: center;
}
#haveit_type {
  text-align: center;
  padding-left: 10%;
}
#haveit_type span {
  /* display: flex; */
  /* border: 1px solid brown; */
  margin-right: 100px;
  font-size: 13px;
  width: 150px;
}
#haveit_type:hover span {
  text-decoration: underline;
}
.flex_box {
  display: flex;
  gap: 30px;
}
.cards {
  height: 300px;
  width: 310px;
  /* border: 1px solid red; */
  margin-right: 30px;
  margin-left: 30px;
  gap: 10px;
}
.cards img {
  height: 370px;
  width: 99%;
  /* border: 1px solid blue; */
}
.box {
  /* border: 1px solid blueviolet; */
  gap: 10px;
  margin-top: 10px;
}
.arrow {
  color: brown;
  padding: 0%;
  margin: 0%;
}

.card_heading h5 {
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
}
.cards span {
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  gap: 10px;
}
.cards .rate {
  padding-left: 90px;
  font-weight: bold;
}
.cards button {
  margin-left: 70px;
}
.cards .dots {
  height: 20px;
  width: 150px;
  justify-content: center;
  margin: auto;
}

/* ------------- */

#seasonal_heading img {
  margin-top: 150px;
  height: 60px;
  width: 45%;
  justify-content: center;
  margin-left: 25%;
}
#seasonal_heading h5 {
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
#seasonal_heading button {
  background-color: black;
  margin-left: 45%;
  margin-top: 30px;
  border-radius: 0%;
}
#seasonal_shopping {
  display: flex;
  gap: 100px;
}
#shopping_image img {
  height: 620px;
  width: 550px;
  /* border: 1px solid red; */
  margin-left: 120px;
  margin-top: 20px;
}
#shopping_list {
  height: 550px;
  width: 500px;
  /* border: 1px solid green; */
  margin-top: 20px;
}
.small_flex_div {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}
.small_card img {
  width: 80px;
  height: 100px;
  /* border: 1px solid tomato; */
  margin-left: 25px;
}
.btn {
  background-color: black;
  color: white;
  border: none;
  height: 30px;
  /* width: 120px; */
  padding-left: 15px;
  padding-right: 15px;
}
#extra_care_img {
  height: 60px;
  width: 550px;
  justify-content: center;
  margin-top: 125px;
  margin-left: 30%;
}
#extra_care h5 {
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
}
#extra_care button {
  margin-left: 40%;
  margin-top: 25px;
}
.extra_care_card {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  /* border: 1px solid green; */
  padding-left: 50px;
  padding-right: 70px;
}
.extra_care_card img {
  /* border: 1px solid blue; */
  height: 300px;
  width: 95%;
  justify-content: center;
  margin: auto;
}
.content {
  font-size: 15px;
  font-weight: bold;
  /* border: 1px solid red; */
  width: 300px;
  text-align: left;
}
.one {
  /* border: 1px solid slateblue; */
  width: 30%;
}
.info {
  text-align: left;
  /* border: 1px solid blue; */
  justify-content: left;
  text-align: left;
  padding-left: 0%;
}

#learn_from_pros {
  margin-top: 150px;
}
#learn_from_pros h6 {
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}
#lear_heading img {
  height: 50px;
  width: 47%;
  justify-content: center;
  margin-left: 25%;
}
#extra {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
}

.my_cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  /* border: 1px solid green; */
  padding-left: 50px;
  padding-right: 70px;
}
.my_cards img {
  height: 300px;
  width: 95%;
  justify-content: center;
  margin: auto;
}
.pro_section_heading {
  font-size: 25px;
  font-weight: 50%;
}
/* .addtocart{
  border: 1px solid red;
}
 */



/* footer */
#main_footer_div{
  height: 610px;
  width: 99%;
  background-color: black;
  margin-top: 25px;
}

#main_info{
  display: flex;
  gap: 100px;
  color: white;
  padding-top: 45PX;
  padding-left: 30px;
  /* border: 1PX solid red; */

}
#main_info h6{
  font-size: 15px;
  FONT-FAMILY:
"BBText Regular", Helvetica, Arial, sans-serif;
font-weight: normal;
}
#main_info select{
  background-color: black;
  height: 35px;
  width: 240px;
  color: white;
  text-align: center;
}
.footer_input{
  background-color: black;
  height: 40px;
  width: 250px;
  color: white;
  border: 1PX solid white;
  padding-left: 10PX;
}
.sub_btn{
background-color: black;
color: white;
border:1PX solid white ;
width:150px ;
height: 40px;

}
.foot_img{
  width: 250px;
  height: 120px;
  margin-top: 35px;
  /* border: 1px solid blanchedalmond; */
 
}