body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
  }
  #mainwrapper{
      width:600px;
      height: 500px;
      margin: auto;
      background: #f0f0f5;
      margin-top: 40px;
      padding-top: 10px;
  }
  #secondwrapper{
      width:55%;
      height: 400px;
      background-color: #fff;
      margin: auto;
      margin-top: 10px;
  }
  #imgdiv{
      width: 150px;
      height: 100px;
      margin: auto;
      border: 1px solid rebeccapurple;
  }
  #imgdiv>img{
      width: 150px;
      height: 100px;
        border-radius: 3px;
  }
  form{
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      margin-top: 20px;
  }
  form>input{
      width: 180px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #e3e3ec;
  }
  #submitbtn{
      width: 150px;
      margin-top: 10px;
      margin-left: 25px;
      background-color: black;
      
      color: #fff;
  }
  form>label{
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 600;
  }
  form>:nth-child(1){
      margin-top: 10px;
  }
  form>input:hover{
      border: 1px solid black;
  }
  #orderpopup{
     width: 70%;
     height: 70px;
     margin: auto;
     text-align: center;
     font-size: 30px;
     margin-top: 20px;
     padding-top: 30px;
     color: #30932f;
  }
  #orderpopup>span{
      color: #30932f;
      margin-left: 20px;
  }